name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        perl-version:
          - '5.34'
          - '5.36'
          - '5.38'
          - '5.40'
    
    name: Perl ${{ matrix.perl-version }}
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}
      
      - name: Install cpanm and dependencies
        run: |
          curl -L https://cpanmin.us | perl - App::cpanminus
          cpanm --notest --installdeps .
      
      - name: Build
        run: |
          perl Makefile.PL
          make
      
      - name: Run tests
        run: make test
